font-famil

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* Fonts */
:root {
  --default-font: "Manrope";
}

/* Global color */
:root {
  --color-primary: #ffffff;
  --color-heading: #1F1E17;
  --color-sub-heading: #EEC044;
}

body {
  background-color: var(--color-primary);
  margin: 0px;
  padding: 0px;
}

/* section start*/

.section {
  margin-bottom: 100px;
}

.section .title-container {
  background-image: url(../photos/Title_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;

}

.section .title-container .sub-heading {
  font-family: var(--default-font);
  font-size: 0.875rem;
  font-weight: 600;
  color: #FFFFFFB2;
  letter-spacing: 1.399999976158142px;
  text-align: center;
  text-transform: uppercase;

}

.section .title-container .heading {
  font-family: var(--default-font);
  font-size: 3.125rem;
  font-weight: 800;
  color: var(--color-primary);
  text-align: center;
}

.cards {
  margin-top: 100px;
}

.cards-div {
  padding: 0px 87px;
}

.cards-div .card {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;


}

.cards-div .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px;

}


.cards-div .heading {
  width: 58%;
  font-family: var(--default-font);
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  color: var(--color-primary);
  margin-top: 378px;
  margin-left: 30px;
  position: relative;
  z-index: 1;

}


.card {
  position: relative;
  width: 250px;
  text-align: center;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20125rem0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0) 100%);
}

/* section-end */