/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* Fonts */
:root {
  --default-font: "Manrope";

}

/* Global color */
:root {
  --color-primary: #ffffff;
  --color-heading: #1F1E17;
  --color-paragraph: #878680;
  --color-greenish: #4BAF47;
  --color-sub-heading: #EEC044;
  --bgcolor: #F8F7F0;
  --footer-primary-color: #A5A49A;
  --email-background-color: #F8F7F0;
}



body {
  background-color: var(--color-primary);
  margin: 0px;
  padding: 0px;
}



/* section css start */
.section {
  margin-bottom: 100px;
}

.section .title-container {
  background-image: url(../photos/Title_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;

}

.section .title-container .sub-heading {
  font-family: var(--default-font);
  font-size: 0.875rem;
  font-weight: 600;
  color: #FFFFFFB2;
  letter-spacing: 1.399999976158142px;
  text-align: center;
  text-transform: uppercase;

}

.section .title-container .heading {
  font-family: var(--default-font);
  font-size: 3.125rem;
  font-weight: 800;
  color: var(--color-primary);
  text-align: center;

}

.section .section-1-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 0px 100px;
}


.section-1-content .blog-body {
  padding-left: 0px;
}



.blogs .card .date p {
  padding: 5px 0px;
  width: 134px;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  border-radius: 8px;
  background-color: var(--color-greenish);
  color: var(--color-primary);
  margin: -80px 0px 40px 20px;
}

.author .author-name {
  display: flex;
  flex-direction: row;
}

.blogs .card .author {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  height: 20px;
}

.blogs .card-1,
.blogs .card-2,
.blogs .card-3 {
  border: none;
  border-bottom: 1px solid #ECE7E2
}

.blogs .card .author .author-name i {
  padding: 4px 6px 3.7px 0px;
  font-size: 12px;
  color: var(--color-sub-heading);
}

.author .author-name p {
  font-family: var(--default-font);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--color-paragraph);
}

.author .comment {
  display: flex;
  flex-direction: row;
}

.blogs .card .author .comment i {
  padding: 4px 4px 0px 16px;
  color: var(--color-sub-heading);
  font-size: 12px;
}

.author .comment p {
  font-family: var(--default-font);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--color-paragraph);
}

.blogs .card .card-title {
  font-family: var(--default-font);
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  color: var(--color-heading);

}


.blogs .card .blog-text {
  font-family: var(--default-font);
  font-size: 0.94rem;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--color-paragraph);
  margin-bottom: 25px;

}

.blogs .read-more {
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: var(--color-heading);
}

.blogs .slide-btn {
  margin-left: 300px;
}



.slide-btn button {
  outline: 1px solid #ECE7E2;
  color: var(--color-paragraph);
  border-radius: 10px;
  font-family: Manrope;
  font-weight: 600;
  text-align: center;
  width: 40px;
}


.blogs .input-box {
  width: 370px;
  border-radius: 10px;
  background-color: var(--color-sub-heading);
}

section .input-box .search-here-box {
  border: none;
  background-color: var(--color-sub-heading);
  font-size: 1rem;
  padding: 30px 20px;
}


.search-here-box::-webkit-input-placeholder {
  color: var(--color-primary) !important;
}

.search-here-box:-moz-placeholder {
  color: var(--color-primary) !important;
  opacity: 1;
}

.search-here-box::-moz-placeholder {
  color: var(--color-primary) !important;
  opacity: 1;
}

.search-here-box:-ms-input-placeholder {
  color: var(--color-primary) !important;
}

.search-here-box::-ms-input-placeholder {
  color: var(--color-primary) !important;
}

.search-here-box::placeholder {
  color: var(--color-primary) !important;
}

.input-box .search-btn {
  border-radius: 0px 10px 10px 0px;
}

.input-box .search-btn img {
  height: 65px;
  padding-top: 10px;
}


.blogs .posts {
  border-radius: 10px;
  background-color: var(--email-background-color);
  padding: 30px 0px 0px 30px;
  margin-bottom: 22px;
  width: 98%;
}

.posts .heading {
  font-family: var(--default-font);
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  color: var(--color-heading);
}

.posts .post-body {
  padding: 0px 0px 0px 0px;
}

.posts .post-1,
.post-2,
.posts .post-3 {
  padding: 12px 20px 15px 20px;
  background-color: var(--email-background-color);
  border: none;
}

.posts .post-2 {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  width: 95%;
}

.posts .post-topic {
  width: 96%;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 800;
  line-height: 26px;
  text-align: left;
  color: var(--color-heading);
}


.posts .post-img {
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.blogs .categories {
  padding: 30px 0px 25px 0px;
  border-radius: 10px;
  background-color: var(--email-background-color);
  margin-bottom: 22px;
  width: 98%;
}


.categories h4 {
  font-family: var(--default-font);
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  color: var(--color-heading);
  padding-left: 52px;
}

.categories li a {
  font-family: var(--default-font);
  font-size: 1rem;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  color: var(--color-paragraph);
  text-decoration: none;
}

.blogs .tags {
  border-radius: 10px;
  background-color: var(--email-background-color);

}

.tags .title {
  font-size: 20px;
  font-family: var(--default-font);
  font-weight: 800;
  line-height: 30px;
}

.tags .tags-div {
  padding: 35px 0px 35px 44px;
}

.tags .tag-link {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--color-primary);
  margin-right: 10px;
  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  color: var(--color-heading);
  text-decoration: none;
}

/* section css end */