/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* Fonts */
:root {
  --default-font: "Manrope";
  --fontFamily-grace: "Covered By Your Grace";
}

/* Global color */
:root {
  --color-primary: #ffffff;
  --color-heading: #1F1E17;
  --color-paragraph: #878680;
  --color-greenish: #4BAF47;
  --color-sub-heading: #EEC044;
  --color-boxShadow: #0000001A;
}


body {
  background-color: var(--color-primary);
  margin: 0px;
  padding: 0px;
}



/* section-1 css start */

.section-1 .products {
  padding: 0px 98px;
  margin-top: 60px;
}


.section-1 .title-container {
  background-image: url(../photos/Title_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;

}

.section-1 .title-container .sub-heading {
  font-family: var(--default-font);
  font-size: 0.875rem;
  font-weight: 600;
  color: #FFFFFFB2;
  letter-spacing: 1.399999976158142px;
  text-align: center;
  text-transform: uppercase;

}

.section-1 .title-container .heading {
  font-family: var(--default-font);
  font-size: 3.125rem;
  font-weight: 800;

  color: var(--color-primary);
  text-align: center;

}

.products .card-1,
.products .card-2,
.products .card-3,
.products .card-4 {
  border: none;
}

.products .card-img {
  width: 100%;
  height: 320px;
  border-radius: 10px;
}

.products .icon-1 {
  background-color: #C5CE38;
  padding: 8px 8px 10px 10px;
  border-radius: 10px;
  margin-top: -32px;
  width: 38%;
}

.products .about {
  box-shadow: 0px 10px 30px 0px #00000012;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 5px;
  margin-top: -60px;
  padding: 0px 20px;
}

.products .heading {
  font-size: 20px;
  padding: 10px 0px 18px 23px;
  font-family: var(--default-font);
  font-weight: 800;
  line-height: 28px;
  text-align: center;
  width: 88%;

}

.products .card-4 .heading {
  padding: 10px 12px 18px 34px;
}

.products .readMoreBtn {
  font-size: 12px;
  border: none;
  background-color: var(--color-greenish);
  border-radius: 10px;
  color: var(--color-primary);
  padding: 15px 25px;
  margin: 16px 0px 0px -28px;
  position: absolute;
}

.section-1 .services-partner {
  margin-top: 85px;
}

/* section-1 end */

/* section-2 start */

.section-2-img img {
  position: relative;
  z-index: -1;
}

.section-2 .services {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 0px 144px 0px 100px;
}

.section-2 .section-2-img {
  background-image: url(../photos/about-section-2-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  width: 100%;
  padding: 120px 387px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-2 .section-2-img h3 {
  font-family: var(--default-font);
  font-size: 70px;
  color: var(--color-primary);
  font-weight: 800;
  line-height: 84px;
  letter-spacing: 1px;
  text-align: start;
  width: 46%;
}

.section-2-img .video-btn {
  width: 271px;
  direction: rtl;
}

.section-2-img .video-btn p {
  font-family: var(--fontFamily-grace);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--color-sub-heading);
}

.section-2-img .circle i {
  direction: ltr;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 35px 0px 0px 42px;
  margin: 0px 0px 60px 0px;
  background-color: var(--color-primary);
  font-size: 30px;

}

.services .service-1,
.service-2,
.service-3 {
  border: none;
  margin-top: -68px;
  margin-right: 24px;
}

.services .service-1 .card-body {
  box-shadow: 0px 0px 60px 10px var(--color-boxShadow);
  border-radius: 10px 10px 0px 0px;

}

.services .service-2 .card-body {
  box-shadow: 0px 0px 60px 10px var(--color-boxShadow);
  border-radius: 10px 10px 0px 0px;
}

.services .service-3 .card-body {
  box-shadow: 0px 0px 60px 10px var(--color-boxShadow);
  border-radius: 10px 10px 0px 0px;
}

.services .paragraph {
  padding-top: 10px;
}

.services .paragraph p {
  font-family: var(--default-font);
  font-size: 20px;
  font-weight: 800;
  line-height: 10px;
  text-align: center;
  color: var(--color-heading);
}



.services .card img {
  box-shadow: 0px 0px 60px 10px var(--color-boxShadow);
}

.section-two-content {
  padding: 0px 0px 0px 85px;
}

.content .sub-heading {
  font-family: var(--fontFamily-grace);
  font-size: 24px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;

  color: var(--color-sub-heading);

}

.content .heading {
  font-family: var(--default-font);
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  text-align: left;
  color: var(--color-heading);

}


.section-2 .what-we-do {
  padding: 70px 100px;
}

.section-2 .what-we-do .content {
  margin-top: 21px;
}

.section-two-img {
  padding: 0px 0px 0px 65px;

}

.section-two-content .paragraph {
  padding: 25px 0px 37px 0px;
}

.section-two-content .paragraph p {
  font-family: var(--default-font);
  font-size: 15.4px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--color-paragraph);

}

.section-2 .icons {
  display: flex;
  flex-direction: row;
  gap: 28px;

}

.section-2 .icons img {
  width: 165px;
  border-radius: 10px 0px 0px 0px;
}

.uncle-img-div .uncle-img {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin-top: -490px;
  width: 90%;

}

.uncle-img-div .circle {
  width: 400px;
  height: 400px;
  gap: 0px;
  border-radius: 215px;
  background-color: #F8F7F0;
  position: relative;
  z-index: -1;
  margin-left: -153px;
  margin-top: 100px;

}

/* section-2 css end */

/* section-3 css start */

.section-3 {
  background-image: url(../photos/services-section-3-img.png);
  background-size: 45% 100%;
  background-repeat: no-repeat;
  background-color: #4BAF47;
  background-position: right;
}

.last-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 35px 168px;
}

.last-title .head {
  padding: 40px 0px;
}

.last-title .sub-heading {
  font-family: var(--fontFamily-grace);
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--color-sub-heading);
}

.last-title .heading {
  font-family: var(--default-font);
  font-size: 38px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -2px;
  text-align: left;
  color: var(--color-primary);
}

.section-3 .discoverMore-btn {
  padding: 11px 40px;
  border-radius: 6px;
  background: var(--color-sub-heading);

  font-family: var(--default-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: var(--color-primary);
  border: none;

}

/* section-3 css end */